<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <app-menu></app-menu>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <div class="conainer">
        <div class="card">
          <div class="card-header">Clients</div>
          <div class="card-body">
            <button class="btn btn-primary" (click)="export()">Export</button>
          </div>
        </div>
      </div>

      <div class="conainer">
        <div class="card">
          <div class="card-header">{{title}}</div>
          <div class="card-body">
            <form (ngSubmit)="createClient()">
              <div class="form-group row">
                <label for="sharedKey" class="col-form-label col-sm-1">sharedKey</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" [(ngModel)]="clientDat.sharedKey" name="sharedKey">
                </div>
              </div>

              <div class="form-group row">
                <label for="bussinesId" class="col-form-label col-sm-1">bussinesId</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" [(ngModel)]="clientDat.bussinesId" name="bussinesId">
                </div>
              </div>

              <div class="form-group row">
                <label for="phone" class="col-form-label col-sm-1">phone</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" [(ngModel)]="clientDat.phone" name="phone">
                </div>
              </div>

              <div class="form-group row">
                <label for="email" class="col-form-label col-sm-1">email</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" [(ngModel)]="clientDat.email" name="email">
                </div>
              </div>

              <div class="form-group row">
                <label for="dateAdde" class="col-form-label col-sm-1">dateAdde</label>
                <div class="col-sm-4">
                  <input type="date" class="form-control" [(ngModel)]="clientDat.dateAdde" name="dateAdde">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6">
                  <button class="btn btn-primary" role="button">{{nameButton}}</button>
                </div>

              </div>

            </form>

          </div>
        </div>

        <div class="card">
          <div class="card-header">Clients
            <div class="form-group row">
              <label for="dateAdde" class="col-form-label col-sm-1">Shared Key</label>
              <div class="col-sm-4">
                <input type="text" [(ngModel)]="sharedKey" name="shared_Key">
              </div>
              <div class="col-sm-6">
                <button class="btn btn-primary" role="button" (click)="findClientsBySharedKey()">Search</button>
              </div>
            </div>

          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">sharedKey</th>
                  <th scope="col">bussinesId</th>
                  <th scope="col">phone</th>
                  <th scope="col">email</th>
                  <th scope="col">dateAdde</th>
                  <th scope="col">acction</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of clients">
                  <td>{{ client.sharedKey}} </td>
                  <td>{{ client.bussinesId}} </td>
                  <td>{{ client.phone}} </td>
                  <td>{{ client.email}} </td>
                  <td>{{ client.dateAdde}}</td>
                  <td>
                    <button class="btn btn-primary" role="button" (click)="getClient(client.id)">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<app-footer></app-footer>